In [109]:
#import dependancies
import pandas as pd
import numpy as np

In [110]:
#import csv
csv = "ucb-bel-data-pt-08-2020-u-c/02-Homework/04-Pandas/Instructions/HeroesOfPymoli/Resources/purchase_data.csv"

In [111]:
#read csv
path_heroes = pd.read_csv(csv)
no_dupes = pd.read_csv(csv)
path_heroes.head()
no_dupes.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [112]:
#count of unique players - only users
total_players = len(path_heroes["SN"].unique())
total_players

576

In [113]:
#data frame of the unique players
d = {'Player Count': [total_players]}
df = pd.DataFrame(data=d)
df

   Player Count
0           576

In [114]:
#count of unique items
unique_items = len(path_heroes["Item Name"].unique())
unique_items

179

In [115]:
#average price of all items bought
price_average = f'${path_heroes["Price"].mean():.2f}'
price_average

'$3.05'

In [116]:
#total number of purchases
total_purchases = len(path_heroes["Item Name"])
total_purchases

780

In [117]:
#total revenue
total_revenue = f'${path_heroes["Price"].sum():.2f}'
total_revenue

'$2379.77'

In [118]:
#data frame with above data
d = {'Number of Unique Items': [unique_items], 'Average Price': [price_average], 'Total Purchases': total_purchases, 'Total Revenue': [total_revenue]}
df = pd.DataFrame(data=d)
df

   Number of Unique Items Average Price  Total Purchases Total Revenue
0                     179         $3.05              780      $2379.77

In [119]:
#a csv without duplicates
no_dupes.drop_duplicates(subset=["SN"], keep = "last", inplace = True)

In [120]:
#finding gender percentages
male_count, female_count, other_count = no_dupes["Gender"].value_counts()
male_count/total_players, female_count/total_players, other_count/total_players

(0.8402777777777778, 0.140625, 0.019097222222222224)

In [121]:
#utilizing a list comprehension and a percent function to print the same numbers from above
percent = [f"{(gender/total_players)*100:.2f}%" for gender in no_dupes["Gender"].value_counts()]
percent

['84.03%', '14.06%', '1.91%']

In [122]:
#a for loop to produce the same percentage
for gender in no_dupes["Gender"].value_counts():
    print(gender/total_players)

0.8402777777777778
0.140625
0.019097222222222224

In [123]:
#a data frame to hold the counts
d = {"Total Count": no_dupes["Gender"].value_counts(),
    'Percentage of Players': percent}
genderdf = pd.DataFrame(data=d)
genderdf

                       Total Count Percentage of Players
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%

In [124]:
#value_counts of gender of all purchases
path_heroes_gender = path_heroes["Gender"].value_counts()
path_heroes_gender

Male                     652
Female                   113
Other / Non-Disclosed     15
Name: Gender, dtype: int64

In [125]:
#a groupby gender of all purchases
path_heroes_gender2 = path_heroes.groupby(["Gender"]).count()
path_heroes_gender2 = path_heroes_gender2["Purchase ID"].head() 
path_heroes_gender2

Gender
Female                   113
Male                     652
Other / Non-Disclosed     15
Name: Purchase ID, dtype: int64

In [126]:
#value_counts of gender without duplicates
no_dupes_gender = no_dupes["Gender"].value_counts()
no_dupes_gender

Male                     484
Female                    81
Other / Non-Disclosed     11
Name: Gender, dtype: int64

In [127]:
#grouby of gender by the unique users
no_dupes_gender2 = no_dupes.groupby(["Gender"]).count()
no_dupes_gender2["Purchase ID"].head()

Gender
Female                    81
Male                     484
Other / Non-Disclosed     11
Name: Purchase ID, dtype: int64

In [128]:
#average purchase number per gender
avg_purchase_gender = path_heroes_gender/no_dupes_gender
avg_purchase_gender

Male                     1.347107
Female                   1.395062
Other / Non-Disclosed    1.363636
Name: Gender, dtype: float64

In [129]:
#groupby gender by sum of purchases
groupby_total_purchase = path_heroes.groupby(["Gender"], sort=bool)
sum_total_purchase = groupby_total_purchase["Price"].sum().head()
sum_total_purchase

Gender
Female                    361.94
Male                     1967.64
Other / Non-Disclosed      50.19
Name: Price, dtype: float64

In [130]:
#average purchase groupby gender
avg_purchase_price = groupby_total_purchase["Price"].mean().head()
avg_purchase_price

Gender
Female                   3.203009
Male                     3.017853
Other / Non-Disclosed    3.346000
Name: Price, dtype: float64

In [131]:
#inputing information into a data frame and adding dollar signs simultaneously
question_gender = {"Purchase Count": path_heroes_gender2, "Avg Purchase Price": avg_purchase_price.map("${:,.2f}".format), "Total Purchase Value": sum_total_purchase.map("${:,.2f}".format), "Avg by Gender": avg_purchase_gender.map("${:,.2f}".format)} 
question_gender_df = pd.DataFrame(question_gender)

question_gender_df

,Purchase Count,Avg Purchase Price,Total Purchase Value,Avg by Gender
Female,113,$3.20,$361.94,$1.40
Male,652,$3.02,"$1,967.64",$1.35
Other / Non-Disclosed,15,$3.35,$50.19,$1.36

In [132]:
#inputing information into a series
question_gender2 = {"Purchase Count": [path_heroes_gender2], "Avg Purchase Price": [avg_purchase_price], "Total Purchase Value": [sum_total_purchase], "Avg by Gender": [avg_purchase_gender]}
question_gender2

{'Purchase Count': [Gender
  Female                   113
  Male                     652
  Other / Non-Disclosed     15
  Name: Purchase ID, dtype: int64],
 'Avg Purchase Price': [Gender
  Female                   3.203009
  Male                     3.017853
  Other / Non-Disclosed    3.346000
  Name: Price, dtype: float64],
 'Total Purchase Value': [Gender
  Female                    361.94
  Male                     1967.64
  Other / Non-Disclosed      50.19
  Name: Price, dtype: float64],
 'Avg by Gender': [Male                     1.347107
  Female                   1.395062
  Other / Non-Disclosed    1.363636
  Name: Gender, dtype: float64]}

In [133]:
#creating bins for age ranges
bins_age = [0, 9, 14, 19, 24, 29, 34, 39, 44, 49, 54, 59, 64, 150]
label_age = ["0-9", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40-44", "45-49", "50-54", "55-59", "60-64", "65+"]

In [134]:
#slicing the data
path_heroes_bins = pd.cut(path_heroes["Age"], bins_age, labels=label_age, include_lowest=True)
path_heroes_bins.head()

0    20-24
1    40-44
2    20-24
3    20-24
4    20-24
Name: Age, dtype: category
Categories (13, object): [0-9 < 10-14 < 15-19 < 20-24 ... 50-54 < 55-59 < 60-64 < 65+]

In [139]:
#cutting the data into the bins we've set up above. Defining variables and checking the index
path_heroes["Age Range"] = path_heroes_bins
path_heroes.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Range
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40-44
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24

In [141]:
age_demographics = path_heroes.set_index("Age Range")
age_demographics = age_demographics.sort_index()
age_demographics.index

CategoricalIndex(['0-9', '0-9', '0-9', '0-9', '0-9', '0-9', '0-9', '0-9',
                  '0-9', '0-9',
                  ...
                  '40-44', '40-44', '40-44', '40-44', '40-44', '40-44',
                  '40-44', '40-44', '40-44', '45-49'],
                 categories=['0-9', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40-44', ...], ordered=True, name='Age Range', dtype='category', length=780)

In [146]:
#creating a groupby the new columb "Age Range", organizing the age ranges. 
age_range = age_demographics.groupby(["Age Range"]).count()
age_ranges = age_range["SN"]
#creating our percent for each age in our variable age_ranges
percent = [f"{(age/total_players)*100:.2f}%" for age in age_ranges]
percent
#creating the column names with their respective values
d = {"Total Count": age_ranges, "Percentage of Players": percent}
#using index to assign age range as our index
no_dupes_df = pd.DataFrame(data=d, index=age_range.index)
no_dupes_df

           Total Count Percentage of Players
Age Range
0-9                 23                 3.99%
10-14               28                 4.86%
15-19              136                23.61%
20-24              365                63.37%
25-29              101                17.53%
30-34               73                12.67%
35-39               41                 7.12%
40-44               12                 2.08%
45-49                1                 0.17%

In [147]:
#sorting value_counts
age_demographics.index.sort_values(ascending=False).value_counts()

20-24    365
15-19    136
25-29    101
30-34     73
35-39     41
10-14     28
0-9       23
40-44     12
45-49      1
65+        0
60-64      0
55-59      0
50-54      0
Name: Age Range, dtype: int64

In [148]:
#age range groupby based on price
age_range_groupby = path_heroes.groupby(["Age Range"]).count()
age_range_groupby["Price"].head(9)

Age Range
0-9       23
10-14     28
15-19    136
20-24    365
25-29    101
30-34     73
35-39     41
40-44     12
45-49      1
Name: Price, dtype: int64

In [149]:
#same values but a slightly different way
age_range_valuecounts = path_heroes["Age Range"].value_counts()
age_range_valuecounts.head(9)

20-24    365
15-19    136
25-29    101
30-34     73
35-39     41
10-14     28
0-9       23
40-44     12
45-49      1
Name: Age Range, dtype: int64

In [150]:
#creating a no duplicates csv
no_dupes["Age Range"] = pd.cut(no_dupes["Age"], bins_age, labels=label_age, include_lowest=True)

In [151]:
#finding the age range without duplicates using groupby
no_dupes_age_range_groupby = no_dupes.groupby(["Age Range"]).count()
no_dupes_age_groupby = no_dupes_age_range_groupby["Price"].head(9)
no_dupes_age_groupby

Age Range
0-9       17
10-14     22
15-19    107
20-24    258
25-29     77
30-34     52
35-39     31
40-44     11
45-49      1
Name: Price, dtype: int64

In [152]:
#finding age range without duplicates using value_count
no_dupes_age_range_valuecounts = no_dupes["Age Range"].value_counts()
no_dupes_age_range_valuecounts

20-24    258
15-19    107
25-29     77
30-34     52
35-39     31
10-14     22
0-9       17
40-44     11
45-49      1
65+        0
60-64      0
55-59      0
50-54      0
Name: Age Range, dtype: int64

In [153]:
#grouping by age range and finding the average price
price_avg_groupby = path_heroes.groupby(["Age Range"]).mean()
price_avg_groupby["Price"].head(9)

Age Range
0-9      3.353478
10-14    2.956429
15-19    3.035956
20-24    3.052219
25-29    2.900990
30-34    2.931507
35-39    3.601707
40-44    3.045000
45-49    1.700000
Name: Price, dtype: float64

In [154]:
#groupby age range to find total price
total_price_groupby = path_heroes.groupby(["Age Range"]).sum()
total_price_groupby["Price"].head(9)

Age Range
0-9        77.13
10-14      82.78
15-19     412.89
20-24    1114.06
25-29     293.00
30-34     214.00
35-39     147.67
40-44      36.54
45-49       1.70
Name: Price, dtype: float64

In [155]:
#another age range value count
path_heroes_age = path_heroes["Age Range"].value_counts()
path_heroes_age

20-24    365
15-19    136
25-29    101
30-34     73
35-39     41
10-14     28
0-9       23
40-44     12
45-49      1
65+        0
60-64      0
55-59      0
50-54      0
Name: Age Range, dtype: int64

In [156]:
#another no duplicate value count
no_dupes_age = no_dupes["Age Range"].value_counts()
no_dupes_age

20-24    258
15-19    107
25-29     77
30-34     52
35-39     31
10-14     22
0-9       17
40-44     11
45-49      1
65+        0
60-64      0
55-59      0
50-54      0
Name: Age Range, dtype: int64

In [157]:
#the average purchase per person
avg_purchase_perperson = path_heroes_age/no_dupes_age
avg_purchase_perperson

20-24    1.414729
15-19    1.271028
25-29    1.311688
30-34    1.403846
35-39    1.322581
10-14    1.272727
0-9      1.352941
40-44    1.090909
45-49    1.000000
65+           NaN
60-64         NaN
55-59         NaN
50-54         NaN
Name: Age Range, dtype: float64

In [158]:
#value counts per person on how many items they purchased
SN_value_count = path_heroes["SN"].value_counts()
SN_value_count

Lisosia93      5
Iral74         4
Idastidru52    4
Asur53         3
Lisim78        3
              ..
Chanista95     1
Haisurra41     1
Haerith37      1
Ethrasyon38    1
Filrion83      1
Name: SN, Length: 576, dtype: int64

In [159]:
#top 5 spenders and the amount they spent on items
top_spend_SN = path_heroes.groupby(["SN"])
top_spenders_SN = top_spend_SN["Price"].sum().sort_values(ascending=False)
top_spenders_SN.head()

SN
Lisosia93      18.96
Idastidru52    15.45
Chamjask73     13.83
Iral74         13.62
Iskadarya95    13.10
Name: Price, dtype: float64

In [160]:
#we're grouping by SN, renaming the "price" column of each variable to a new name that will go later in our data frame
user_total = path_heroes.groupby(["SN"]).sum()["Price"].rename("Total Purchase Value")
user_average = path_heroes.groupby(["SN"]).mean()["Price"].rename("Average Purchase Price")
user_count = path_heroes.groupby(["SN"]).count()["Price"].rename("Purchase Count")

#we're creating a data frame with the values and variables above
user_data = pd.DataFrame({"Total Purchase Value": user_total, "Average Purchase Price": user_average, "Purchase Count": user_count})

#we sort by the descending total purchase value
user_sorted = user_data.sort_values("Total Purchase Value", ascending=False)

#we want to add dollar signs to two but not three of our columns
user_sorted["Average Purchase Price"] = user_sorted["Average Purchase Price"].map("${:,.2f}".format)
user_sorted["Total Purchase Value"] = user_sorted["Total Purchase Value"].map("${:,.2f}".format)
user_sorted = user_sorted.loc[:,["Purchase Count", "Average Purchase Price", "Total Purchase Value"]]

user_sorted.head(5)

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

In [161]:
#finding the top 5 most purchased items
top_pop_item = path_heroes.groupby(["Item Name"])
top_popular_item = top_pop_item["SN"].count().sort_values(ascending=False)
top_popular_item.head(5)

Item Name
Final Critic                                    13
Oathbreaker, Last Hope of the Breaking Storm    12
Nirvana                                          9
Persuasion                                       9
Fiery Glass Crusader                             9
Name: SN, dtype: int64

In [176]:
#we're grouping by SN, renaming the "price" column of each variable to a new name that will go later in our data frame
user_total_pop = path_heroes.groupby(["Item Name"]).sum()["Price"].rename("Total Purchase Value")
user_average_pop = path_heroes.groupby(["Item Name"]).mean()["Price"].rename("Purchase Price Avg")
user_count_pop = path_heroes.groupby(["Item Name"]).count()["Price"].rename("Purchase Count")
user_itemID_pop = path_heroes.groupby(["Item Name"]).max()["Item ID"].rename("ID")

#we're creating a data frame with the values and variables above
user_data_pop = pd.DataFrame({"Total Purchase Value": user_total_pop, "Purchase Price Avg": user_average_pop, "Purchase Count": user_count_pop, "ID": user_itemID_pop})

#we sort by the descending total purchase value
user_sorted_pop = user_data_pop.sort_values("Purchase Count", ascending=False)

#we want to add dollar signs to two but not three of our columns
user_sorted_pop["Purchase Price"] = user_sorted_pop["Purchase Price Avg"].map("${:,.2f}".format)
user_sorted_pop["Total Purchase Value"] = user_sorted_pop["Total Purchase Value"].map("${:,.2f}".format)
user_sorted_pop = user_sorted_pop.loc[:,["ID", "Purchase Count", "Purchase Price", "Total Purchase Value"]]

user_sorted_pop.head(5)

,ID,Purchase Count,Purchase Price,Total Purchase Value
Item Name,,,,
Final Critic,92,13,$4.61,$59.99
"Oathbreaker, Last Hope of the Breaking Storm",178,12,$4.23,$50.76
Persuasion,132,9,$3.22,$28.99
Nirvana,82,9,$4.90,$44.10
"Extraction, Quickblade Of Trembling Hands",108,9,$3.53,$31.77

In [76]:
#finding the top 5 most profitable items
most_prof_item = path_heroes.groupby(["Item Name"])
most_profitable_item = most_prof_item["Price"].sum().sort_values(ascending=False)
most_profitable_item.head()

Item Name
Final Critic                                    59.99
Oathbreaker, Last Hope of the Breaking Storm    50.76
Nirvana                                         44.10
Fiery Glass Crusader                            41.22
Singed Scalpel                                  34.80
Name: Price, dtype: float64

In [175]:
#we're grouping by SN, renaming the "price" column of each variable to a new name that will go later in our data frame
user_total_pop = path_heroes.groupby(["Item Name"]).sum()["Price"].rename("Total Purchase Value")
user_average_pop = path_heroes.groupby(["Item Name"]).mean()["Price"].rename("Purchase Price Avg")
user_count_pop = path_heroes.groupby(["Item Name"]).count()["Price"].rename("Purchase Count")
user_itemID_pop = path_heroes.groupby(["Item Name"]).max()["Item ID"].rename("ID")

#we're creating a data frame with the values and variables above
user_data_pop = pd.DataFrame({"Total Purchase Value": user_total_pop, "Purchase Price Avg": user_average_pop, "Purchase Count": user_count_pop, "ID": user_itemID_pop})

#we sort by the descending total purchase value
user_sorted_pop = user_data_pop.sort_values("Total Purchase Value", ascending=False)

#we want to add dollar signs to two but not three of our columns
user_sorted_pop["Purchase Price"] = user_sorted_pop["Purchase Price Avg"].map("${:,.2f}".format)
user_sorted_pop["Total Purchase Value"] = user_sorted_pop["Total Purchase Value"].map("${:,.2f}".format)
user_sorted_pop = user_sorted_pop.loc[:,["ID", "Purchase Count", "Purchase Price", "Total Purchase Value"]]

user_sorted_pop.head(5)

,ID,Purchase Count,Purchase Price,Total Purchase Value
Item Name,,,,
Final Critic,92,13,$4.61,$59.99
"Oathbreaker, Last Hope of the Breaking Storm",178,12,$4.23,$50.76
Nirvana,82,9,$4.90,$44.10
Fiery Glass Crusader,145,9,$4.58,$41.22
Singed Scalpel,103,8,$4.35,$34.80