In [34]:
#import dependancies
import pandas as pd
import numpy as np

In [35]:
#import csv
csv = "ucb-bel-data-pt-08-2020-u-c/02-Homework/04-Pandas/Instructions/HeroesOfPymoli/Resources/purchase_data.csv"

In [36]:
#read csv
path_heroes = pd.read_csv(csv)
no_dupes = pd.read_csv(csv)
path_heroes.head()
no_dupes.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [37]:
#count of unique players - only users
total_players = len(path_heroes["SN"].unique())
total_players

576

In [38]:
#data frame of the unique players
d = {'Player Count': [total_players]}
df = pd.DataFrame(data=d)
df

   Player Count
0           576

In [39]:
#count of unique items
unique_items = len(path_heroes["Item Name"].unique())
unique_items

179

In [40]:
#average price of all items bought
price_average = f'${path_heroes["Price"].mean():.2f}'
price_average

'$3.05'

In [41]:
#total number of purchases
total_purchases = len(path_heroes["Item Name"])
total_purchases

780

In [42]:
#total revenue
total_revenue = f'${path_heroes["Price"].sum():.2f}'
total_revenue

'$2379.77'

In [43]:
#data frame with above data
d = {'Number of Unique Items': [unique_items], 'Average Price': [price_average], 'Total Purchases': total_purchases, 'Total Revenue': [total_revenue]}
df = pd.DataFrame(data=d)
df

   Number of Unique Items Average Price  Total Purchases Total Revenue
0                     179         $3.05              780      $2379.77

In [44]:
#a csv without duplicates
no_dupes.drop_duplicates(subset=["SN"], keep = "last", inplace = True)

In [45]:
#finding gender percentages
male_count, female_count, other_count = no_dupes["Gender"].value_counts()
male_count/total_players, female_count/total_players, other_count/total_players

(0.8402777777777778, 0.140625, 0.019097222222222224)

In [46]:
#utilizing a list comprehension and a percent function to print the same numbers from above
percent = [f"{(gender/total_players)*100:.2f}%" for gender in no_dupes["Gender"].value_counts()]
percent

['84.03%', '14.06%', '1.91%']

In [47]:
#a for loop to produce the same percentage
for gender in no_dupes["Gender"].value_counts():
    print(gender/total_players)

0.8402777777777778
0.140625
0.019097222222222224

In [48]:
#a data frame to hold the counts
d = {"Total Count": no_dupes["Gender"].value_counts(),
    'Percentage of Players': percent}
genderdf = pd.DataFrame(data=d)
genderdf

                       Total Count Percentage of Players
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%

In [49]:
#value_counts of gender of all purchases
path_heroes_gender = path_heroes["Gender"].value_counts()
path_heroes_gender

Male                     652
Female                   113
Other / Non-Disclosed     15
Name: Gender, dtype: int64

In [50]:
#a groupby gender of all purchases
path_heroes_gender2 = path_heroes.groupby(["Gender"]).count()
path_heroes_gender2 = path_heroes_gender2["Purchase ID"].head() 
path_heroes_gender2

Gender
Female                   113
Male                     652
Other / Non-Disclosed     15
Name: Purchase ID, dtype: int64

In [51]:
#value_counts of gender without duplicates
no_dupes_gender = no_dupes["Gender"].value_counts()
no_dupes_gender

Male                     484
Female                    81
Other / Non-Disclosed     11
Name: Gender, dtype: int64

In [52]:
#grouby of gender by the unique users
no_dupes_gender2 = no_dupes.groupby(["Gender"]).count()
no_dupes_gender2["Purchase ID"].head()

Gender
Female                    81
Male                     484
Other / Non-Disclosed     11
Name: Purchase ID, dtype: int64

In [53]:
#average purchase number per gender
avg_purchase_gender = path_heroes_gender/no_dupes_gender
avg_purchase_gender

Male                     1.347107
Female                   1.395062
Other / Non-Disclosed    1.363636
Name: Gender, dtype: float64

In [54]:
#groupby gender by sum of purchases
groupby_total_purchase = path_heroes.groupby(["Gender"], sort=bool)
sum_total_purchase = groupby_total_purchase["Price"].sum().head()
sum_total_purchase

Gender
Female                    361.94
Male                     1967.64
Other / Non-Disclosed      50.19
Name: Price, dtype: float64

In [55]:
#average purchase groupby gender
avg_purchase_price = groupby_total_purchase["Price"].mean().head()
avg_purchase_price

Gender
Female                   3.203009
Male                     3.017853
Other / Non-Disclosed    3.346000
Name: Price, dtype: float64

In [56]:
#inputing information into a data frame and adding dollar signs simultaneously
question_gender = {"Purchase Count": path_heroes_gender2, "Avg Purchase Price": avg_purchase_price.map("${:,.2f}".format), "Total Purchase Value": sum_total_purchase.map("${:,.2f}".format), "Avg by Gender": avg_purchase_gender.map("${:,.2f}".format)} 
question_gender_df = pd.DataFrame(question_gender)

question_gender_df

,Purchase Count,Avg Purchase Price,Total Purchase Value,Avg by Gender
Female,113,$3.20,$361.94,$1.40
Male,652,$3.02,"$1,967.64",$1.35
Other / Non-Disclosed,15,$3.35,$50.19,$1.36

In [57]:
#inputing information into a series
question_gender2 = {"Purchase Count": [path_heroes_gender2], "Avg Purchase Price": [avg_purchase_price], "Total Purchase Value": [sum_total_purchase], "Avg by Gender": [avg_purchase_gender]}
question_gender2

{'Purchase Count': [Gender
  Female                   113
  Male                     652
  Other / Non-Disclosed     15
  Name: Purchase ID, dtype: int64],
 'Avg Purchase Price': [Gender
  Female                   3.203009
  Male                     3.017853
  Other / Non-Disclosed    3.346000
  Name: Price, dtype: float64],
 'Total Purchase Value': [Gender
  Female                    361.94
  Male                     1967.64
  Other / Non-Disclosed      50.19
  Name: Price, dtype: float64],
 'Avg by Gender': [Male                     1.347107
  Female                   1.395062
  Other / Non-Disclosed    1.363636
  Name: Gender, dtype: float64]}

In [60]:
#creating bins for age ranges
bins_age = [0, 9, 14, 19, 24, 29, 34, 39, 44, 49, 54, 59, 64, 150]
label_age = ["0-9", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40-44", "45-49", "50-54", "55-59", "60-64", "65+"]

In [61]:
#cutting the data into the bins we've set up above. Defining variables and checking the index
path_heroes["Age Range"] = pd.cut(path_heroes["Age"], bins_age, labels=label_age, include_lowest=True)
path_heroes.head()
age_demographics = no_dupes.set_index("Age Range")
age_demographics = age_demographics.sort_index()
age_demographics.index

KeyError: "None of ['Age Range'] are in the columns"

In [62]:
#creating a groupby the new columb "Age Range", organizing the age ranges. 
age_range = age_demographics.groupby(["Age Range"]).count()
age_ranges = age_range["SN"]
#creating our percent for each age in our variable age_ranges
percent = [f"{(age/total_players)*100:.2f}%" for age in age_ranges]
percent
#creating the column names with their respective values
d = {"Total Count": age_ranges, "Percentage of Players": percent}
#using index to assign age range as our index
no_dupes_df = pd.DataFrame(data=d, index=age_range.index)
no_dupes_df

NameError: name 'age_demographics' is not defined

In [63]:
#sorting value_counts
age_demographics.index.sort_values(ascending=False).value_counts()

NameError: name 'age_demographics' is not defined

In [64]:
#age range groupby based on price
age_range_groupby = path_heroes.groupby(["Age Range"]).count()
age_range_groupby["Price"].head(9)

Age Range
0-9       23
10-14     28
15-19    136
20-24    365
25-29    101
30-34     73
35-39     41
40-44     12
45-49      1
Name: Price, dtype: int64

In [65]:
#same values but a slightly different way
age_range_valuecounts = path_heroes["Age Range"].value_counts()
age_range_valuecounts.head(9)

20-24    365
15-19    136
25-29    101
30-34     73
35-39     41
10-14     28
0-9       23
40-44     12
45-49      1
Name: Age Range, dtype: int64

In [66]:
#creating a no duplicates csv
no_dupes["Age Range"] = pd.cut(no_dupes["Age"], bins_age, labels=label_age, include_lowest=True)

In [67]:
#finding the age range without duplicates using groupby
no_dupes_age_range_groupby = no_dupes.groupby(["Age Range"]).count()
no_dupes_age_groupby = no_dupes_age_range_groupby["Price"].head(9)
no_dupes_age_groupby

Age Range
0-9       17
10-14     22
15-19    107
20-24    258
25-29     77
30-34     52
35-39     31
40-44     11
45-49      1
Name: Price, dtype: int64

In [ ]:
#finding age range without duplicates using value_count
no_dupes_age_range_valuecounts = no_dupes["Age Range"].value_counts()
no_dupes_age_range_valuecounts

In [ ]:
#grouping by age range and finding the average price
price_avg_groupby = path_heroes.groupby(["Age Range"]).mean()
price_avg_groupby["Price"].head(9)

In [ ]:
#groupby age range to find total price
total_price_groupby = path_heroes.groupby(["Age Range"]).sum()
total_price_groupby["Price"].head(9)

In [ ]:
#another age range value count
path_heroes_age = path_heroes["Age Range"].value_counts()
path_heroes_age

In [ ]:
#another no duplicate value count
no_dupes_age = no_dupes["Age Range"].value_counts()
no_dupes_age

In [ ]:
#the average purchase per person
avg_purchase_perperson = path_heroes_age/no_dupes_age
avg_purchase_perperson

In [ ]:
#value counts per person on how many items they purchased
SN_value_count = path_heroes["SN"].value_counts()
SN_value_count

In [ ]:
#top 5 spenders and the amount they spent on items
top_spend_SN = path_heroes.groupby(["SN"])
top_spenders_SN = top_spend_SN["Price"].sum().sort_values(ascending=False)
top_spenders_SN.head()

In [ ]:
#we're grouping by SN, renaming the "price" column of each variable to a new name that will go later in our data frame
user_total = path_heroes.groupby(["SN"]).sum()["Price"].rename("Total Purchase Value")
user_average = path_heroes.groupby(["SN"]).mean()["Price"].rename("Average Purchase Price")
user_count = path_heroes.groupby(["SN"]).count()["Price"].rename("Purchase Count")

#we're creating a data frame with the values and variables above
user_data = pd.DataFrame({"Total Purchase Value": user_total, "Average Purchase Price": user_average, "Purchase Count": user_count})

#we sort by the descending total purchase value
user_sorted = user_data.sort_values("Total Purchase Value", ascending=False)

#we want to add dollar signs to two but not three of our columns
user_sorted["Average Purchase Price"] = user_sorted["Average Purchase Price"].map("${:,.2f}".format)
user_sorted["Total Purchase Value"] = user_sorted["Total Purchase Value"].map("${:,.2f}".format)
user_sorted = user_sorted.loc[:,["Purchase Count", "Average Purchase Price", "Total Purchase Value"]]

user_sorted.head(5)

In [ ]:
#finding the top 5 most purchased items
top_pop_item = path_heroes.groupby(["Item Name"])
top_popular_item = top_pop_item["SN"].count().sort_values(ascending=False)
top_popular_item.head(5)

In [30]:
#we're grouping by SN, renaming the "price" column of each variable to a new name that will go later in our data frame
user_total_pop = path_heroes.groupby(["Item Name"]).sum()["Price"].rename("Total Purchase Value")
user_average_pop = path_heroes.groupby(["Item Name"]).mean()["Price"].rename("Average Purchase Price")
user_count_pop = path_heroes.groupby(["Item Name"]).count()["Price"].rename("Purchase Count")

#we're creating a data frame with the values and variables above
user_data_pop = pd.DataFrame({"Total Purchase Value": user_total_pop, "Average Purchase Price": user_average_pop, "Purchase Count": user_count_pop})

#we sort by the descending total purchase value
user_sorted_pop = user_data_pop.sort_values("Total Purchase Value", ascending=False)

#we want to add dollar signs to two but not three of our columns
user_sorted_pop["Average Purchase Price"] = user_sorted_pop["Average Purchase Price"].map("${:,.2f}".format)
user_sorted_pop["Total Purchase Value"] = user_sorted_pop["Total Purchase Value"].map("${:,.2f}".format)
user_sorted_pop = user_sorted_pop.loc[:,["Purchase Count", "Average Purchase Price", "Total Purchase Value"]]

user_sorted_pop.head(5)

,Purchase Count,Average Purchase Price,Total Purchase Value
Item Name,,,
Final Critic,13,$4.61,$59.99
"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
Nirvana,9,$4.90,$44.10
Fiery Glass Crusader,9,$4.58,$41.22
Singed Scalpel,8,$4.35,$34.80

In [31]:
#finding the top 5 most profitable items
most_prof_item = path_heroes.groupby(["Item Name"])
most_profitable_item = most_prof_item["Price"].sum().sort_values(ascending=False)
most_profitable_item.head()

Item Name
Final Critic                                    59.99
Oathbreaker, Last Hope of the Breaking Storm    50.76
Nirvana                                         44.10
Fiery Glass Crusader                            41.22
Singed Scalpel                                  34.80
Name: Price, dtype: float64